* {
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background: -webkit-linear-gradient(top, #35364c, #2c2836);
  /* background: #2c2836; */
}
.menu-bar {
  background: -webkit-linear-gradient(top, #35364c, #2c2836);
  background: #2c2836;
}
.nav-link {
  font-size: 16px;
  margin: 3px;
  color: #ffff !important;
  font-weight: 500;
}
.nav-link:hover {
  color: #f7c80c !important;
}
.navbar-brand img {
  width: 21%;
  height: auto;
  margin-left: 20px;
}
.navbar-nav {
  text-align: right;
  margin-right: 20px;
}
.navbar-nav .dropdown {
  margin-right: 25px;
}
.menu-bar .navbar-toggler {
  padding-right: 20px;
  outline: none !important;
  border: none !important;
}
.navbar .fa {
  color: #ffff !important;
  font-size: 26px;
}
.navbar .fa:hover {
  color: #f7c80c !important;
  font-size: 26px;
}
.jumbotron {
  margin-bottom: 1rem;
  background-image: url("../images/spacescene.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffff !important;
}
body h1 {
  color: #ffff !important;
}
body hr {
  background-color: #ffff;
}
body .table {
  color: #ffff;
}
body .table a {
  color: #ffff !important;
}
body .table a:hover {
  color: #f7c80c !important;
}
body .table-hover tbody tr:hover td {
  color: #ffff;
}
body .custom-switch {
  margin: 10px 0px 10px 0px;
}
body label {
  color: #ffff !important;
}

tbody td.smlcol,
tbody td.midcol,
tbody td.lrgcol {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
tbody td.smlcol {
  max-width: 100px;
}
tbody td.midcol {
  max-width: 150px;
}
tbody td.lrgcol {
  max-width: 200px;
}
tbody td:hover.smlcol,
tbody td:hover.midcol,
tbody td:hover.lrgcol {
  text-overflow: clip;
  white-space: normal;
  word-break: break-all;
}

@media screen and (min-width: 576px) {
  .jumbotron {
    padding: 2rem 2rem;
  }
}
@media screen and (max-width: 600px) {
  .customsmallmedia {
    width: 215px;
  }
  .display-4 {
    font-size: 2.5rem;
  }
}

#loading {
  position: fixed;
  /* display: block; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}

#loading-image {
  /* position: absolute;
  top: 0%;
  left: 50%;
  z-index: 100; */
  width: 100%;
  height: 100%;
}
